main {
  &.signin {
    .wrapper {
      background-image: url(/src/assets/images/wallpaper-login.png);
      background-repeat: no-repeat;
      background-color: grey;
      background-size: cover;
      background-position: center;
      width: 100%;
      padding-top: 40px;

      .paper {
        margin: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .avatar {
        margin: 8px;
        background-color: grey;
      }

      .form {
        width: "100%"; // Fix IE 11 issue.
        margin-top: 8px;
      }

      .submit {
        margin: 24px 0 16px;
      }
    }
  }
}
