$background-color: #fafafa;
$container-color: #fff;
$primary-color: #607d8b;

$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$font-size: 14px;
$font-color: #333;
$border-color: #ced4da;
//$button-color: $primary-color;
// $button-hover-color: #455a64;
// $button-cancel-color: #e0e0e0;
// $button-cancel-hover-color: #d5d5d5;

// $shadow-color: rgba(0, 0, 0, 0.2);
// $disabled-color: rgba(0, 0, 0, 0.12);
// $disabled-text-color: rgba(0, 0, 0, 0.26);

// $primary-color: #1976d2;
// $primary-hover-color: rgb(17, 82, 147);
// $success-color: #4caf50;
// $success-hover-color: #53a753;
// $info-color: #2196f3;
// $info-hover-color: #008eff;
// $warning-color: #ff9800;
// $warning-hover-color: #e68900;
// $danger-color: #f44336;
// $danger-hover-color: #f72d1e;
