footer {
  margin: 0 auto;
  text-align: right;
  width: 100%;
  padding: 12px;
  background-color: #f2f7fa;
  border-top: 1px solid #e2e5e7;
  display: flex;
  align-items: center;

  .MuiTypography-body2 {
      margin-left: auto;
  }
}

.drawerOrder {
  width: 320px;
}
